
.index_coinfreeboard .col-xs-12{
	border: 1px solid;
}

.index_freeboard_list h2 {
	padding:10px;
 	font-weight: bold;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
		
}




.index_freeboard_list a {
	color: #484848;
	
	
		
}

.coinlist{
	margin-top:10px;
}



.index_freeboard_list{
	padding: 15px;
	background: #f6f6f6;
	
}






.index_header:before  {
	content: '';
	position: absolute;
	background: rgba(11, 50, 68, 0.83);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -1;}

.index_header {
	position: relative;
	background-image:
		url("http://localhost:8080/coinweb/img/7a7a6bf1-f27d-4799-adea-d609308820a6.jpg");
	margin-top: 50px;
	height: 200px;
	width: 100%;
	background-size: cover;
	z-index: 0;}

.index_header_text{
	color: white;
	font-size: 20px;
	padding-top: 40px;
	line-height: 25px;
	
}


.index_headerp{
	 font-size: 13px;
}
