@CHARSET "UTF-8";


.index_cointable img{

	width: 25px;
	height: 25px;
}



.index_cointable td p{
	
}

#profit{
	font-size:13px;
}

table td:nth-child(2){
	font-weight: bold;
	
}


table td:nth-child(1){
	text-align: right;
	vertical-align: middle !important;
}

table td:nth-child(3){
	text-align: right !important;
	vertical-align: middle !important; 
}
table td:nth-child(3) p{
	font-size:100% !important;
}

table td:nth-child(4){
	vertical-align: middle !important;
}

.coin_name{
	font-size: 3vw !important;
	font-weight: normal !important;
	color: #A4A4A4 !important;
}

.coinlist{
	position:relative;
	z-index:2;
}

.login_check{
	position: absolute;  
	z-index:3;  
	background-color:#fff; 
	height:100%;
	width:100%;
	opacity:0.93;
	text-align:center;
}
.login_check span{
	display: inline-block;
	font-size:4.5vw;
	height:100%;
	padding-top:50%;
}
.login_check button{
	margin-top:10px;
	font-size:3.3vw;
	width:35%;
	border-color:#0487e4;
	color:#0487e4;
}

.btn-default:hover{
	border-color:#0487e4 !important;
	color:#0487e4 !important;
	background-color:#80c2e854 !impartant;
}