<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coinweb.dao.BoardDAO">  
	<select id="getBoardList" resultType="coinweb.vo.BoardVO">
		SELECT NO, ID, TITLE, NAME, date_format(bdate, '%Y-%m-%d') AS FBDATE, HITS, LIKEIT 
		FROM COINWEB_BOARD ORDER BY BDATE DESC limit #{param1} ,#{param2}
	</select>
	<select id="getBoardListContent" resultType="coinweb.vo.BoardVO">
		SELECT  NO, ID, TITLE, NAME, date_format(bdate, '%Y-%m-%d %H:%i:%S') AS FBDATE, HITS, LIKEIT 
		FROM COINWEB_BOARD WHERE UPPER(CONTENT) LIKE CONCAT('%' , UPPER(#{param1}) , '%') ORDER BY BDATE DESC limit #{param2} ,#{param3} 
	</select>
	<select id="getBoardListTitle" resultType="coinweb.vo.BoardVO">
		SELECT NO, ID, TITLE, NAME, date_format(bdate, '%Y-%m-%d') AS FBDATE, HITS, LIKEIT 
		FROM COINWEB_BOARD WHERE UPPER(TITLE) LIKE CONCAT('%' , UPPER(#{param1}) , '%') ORDER BY BDATE DESC limit #{param2} ,#{param3}
	</select>
	<select id="execTotalCount" resultType="Integer">
 		SELECT COUNT(*) FROM COINWEB_BOARD
 	</select>
 	<select id="execTotalCountContent" resultType="Integer">
 		SELECT COUNT(*) FROM COINWEB_BOARD   WHERE UPPER(CONTENT) LIKE CONCAT('%' , UPPER(#{param1}) , '%')
 	</select> 
 	<select id="execTotalCountTitle" resultType="Integer">
 		SELECT COUNT(*) FROM COINWEB_BOARD   WHERE UPPER(TITLE) LIKE CONCAT('%' , UPPER(#{param1}) , '%') 
 	</select> 
 	 		
	<select id="getBoardContent" resultType="coinweb.vo.BoardVO">
		SELECT  NO, ID, TITLE, NAME, date_format(bdate, '%Y-%m-%d %H:%i:%S') AS FBDATE, HITS, LIKEIT, CONTENT FROM COINWEB_BOARD WHERE NO = #{no}
	</select>
	
 	<insert id="insertBoardContent" parameterType="coinweb.vo.BoardVO">
 		INSERT INTO COINWEB_BOARD(id,title,name,content,bdate,hits,likeit) 
 		VALUES(#{id}, #{title}, #{name}, #{content, jdbcType=CLOB}, now(), 0, 0)
 	</insert>
 	<delete id="deleteBoardContent">
 		DELETE FROM COINWEB_BOARD WHERE NO=#{no}
 	</delete>	
 	
 	<update id="updateBoardContent">
	 	UPDATE COINWEB_BOARD SET TITLE = #{title}, CONTENT = #{content} WHERE NO = #{no}				
 	</update>
 	
 	<select id="searchBoardList" resultType="coinweb.vo.BoardVO">
 		SELECT TITLE
 			 , NAME
 			 , date_format(bdate, '%YY-%m-%d') AS BDATE
			 , HITS
			 , LIKEIT FROM COINWEB_BOARD 
			   WHERE TITLE LIKE '%' || #{search} || '%' 
 	</select>
 	<update id="getUpdateHits">
 		UPDATE COINWEB_BOARD SET HITS = HITS+1 WHERE NO =#{no}
 	</update>
 	
 	<update id="likeitUp">
		UPDATE COINWEB_BOARD SET LIKEIT = LIKEIT+1 WHERE NO =#{no}
 	</update>
 	<update id="likeitDown">
		UPDATE COINWEB_BOARD SET LIKEIT = LIKEIT-1 WHERE NO =#{no}
 	</update>
 	<select id="getLikeit" resultType="coinweb.vo.BoardVO">
		SELECT LIKEIT FROM COINWEB_BOARD WHERE NO=#{no}
 	</select>
 	
 	<select id="getReplyList" resultType="coinweb.vo.BoardReplyVO">
		SELECT RID, ID, RNAME, CONTENT, RDATE, BID , LIKEIT, DISLIKEIT FROM COINWEB_BOARD_REPLY
			   WHERE BID=#{no} ORDER BY RDATE DESC		 	 
	</select>
	
	<select id="getReplyCount" resultType="Integer">
		SELECT COUNT(*) FROM COINWEB_BOARD_REPLY WHERE BID=#{no}	 	 
	</select>
	
	
	<insert id="getReplyInsertResult">
		INSERT INTO COINWEB_BOARD_REPLY(id,bid,rname,content,rdate,likeit,dislikeit)
		 VALUES(#{param1}, #{param2}, #{param3}, #{param4}, now(), 0, 0)			 				 					

	</insert>
	
	<update id="replyLikeitUp">
 	  	UPDATE COINWEB_BOARD_REPLY SET LIKEIT = LIKEIT+1 WHERE BID =#{param1} AND RID =#{param2}
 	</update>

 	<update id="replyDislikeitUp">
		UPDATE COINWEB_BOARD_REPLY SET DISLIKEIT = DISLIKEIT+1 WHERE BID =#{param1} AND RID =#{param2}
 	</update>
 	
 	<update id="replyLikeitDown">
 	  	UPDATE COINWEB_BOARD_REPLY SET LIKEIT = LIKEIT-1 WHERE BID =#{param1} AND RID =#{param2}
 	</update>

 	<update id="replyDislikeitDown">
		UPDATE COINWEB_BOARD_REPLY SET DISLIKEIT = DISLIKEIT-1 WHERE BID =#{param1} AND RID =#{param2}
 	</update>
 	
	<select id="getReplyLikeit" resultType="coinweb.vo.BoardReplyVO">
 		SELECT LIKEIT,DISLIKEIT FROM COINWEB_BOARD_REPLY WHERE BID=#{param1} AND RID =#{param2}
 	</select>
 
 	<insert id="insertBoardLikeit">
		INSERT INTO board_likeit(bid,id,type,date) VALUES(#{param1}, #{param2}, #{param3}, now())			 				 					
	</insert>
	
	<insert id="insertReplyLikeit">
		INSERT INTO reply_likeit(bid,rid,id,type,date) VALUES(#{param1}, #{param2}, #{param3}, #{param4}, now())			 				 					
	</insert>
	
	<insert id="deleteBoardLikeit">
		delete from board_likeit where bid=#{param1} and id=#{param2}			 				 					
	</insert>
	
	<insert id="deleteReplyLikeit">
		delete from reply_likeit where bid=#{param1} and rid=#{param2} and id=#{param3}			 				 					
	</insert>
	
	<select id="getBoardLikeitCheck" parameterType="HashMap" resultType="String">
		select type from board_likeit where bid=#{param1} and id=#{param2}
	</select>
	
	<select id="getReplyLikeitCheck" parameterType="HashMap" resultType="String">
		select type from reply_likeit where bid=#{param1} and rid=#{param2} and id=#{param3}
	</select>
  
   
</mapper>